[2016-03-31 14:51] joexn opened #1 "Navbar Issues"
- [x] Navbar item margins not working correctly.
- [ ] Navbar items on right float not aligning properly.
- [ ] Navbar not scaling on smaller displays.

[2016-03-31 15:00] joexn opened #2 "Fonts not sizing correctly."
It seems like fonts are sizing properly on smaller displays.
This issue **should** be fixed in the next update.

[2016-03-31 16:56] nishad opened #3 "[QUESTION] Sass or LESS files ?"
Nice work, appreciate it, It is good to have a simple css framework.
Is there plans to release any CSS preprocessor support ? I'm really looking into that option.

[2016-03-31 17:00] joexn commented on #3
Thanks for the feedback, I agree that's a good idea. I will add this to Planned Features and I will incorporate it in the next release.

[2016-04-02 16:03] nloveladyallen opened #4 "Include readable source"
Include a readable, formatted source CSS (or SCSS, etc.) file, in addition to the minified version, to make editing easier.

[2016-04-02 16:41] joexn commented on #4
I will add this to planned featured and I'll add a formatted file in the next Hotfix update. It should be ready tomorrow. Thanks for the feedback!

[2016-04-02 16:43] #2 closed, assigned to nobody

[2016-04-02 17:41] joexn commented on #4
Thank you. This was very helpful.

[2016-04-02 17:41] #4 closed, assigned to nobody

[2016-04-02 18:27] joexn commented on #1
This navbar will be completely removed in the next Update. The problem with this navbar is that it isn't responsive at all.

[2016-04-02 18:27] #1 closed, assigned to nobody

[2016-04-02 19:57] nloveladyallen opened #7 "Examples"
I've opened PR #6 to add an example, but more examples should still be added.

[2016-04-02 20:24] joexn commented on #7
Updated #6

[2016-04-02 20:24] #7 closed, assigned to nobody

[2016-04-09 20:49] joexn commented on #3
I can now confirm, Legacy: SASS is now in full development

[2016-04-11 21:09] nloveladyallen commented on #3
Curious, will the CSS version be deprecated/removed when the SASS version is released? Also, is this in SASS (the python-like syntax) or SCSS (the CSS-like syntax)?

[2016-04-11 21:15] joexn commented on #3
I will transition all development to SASS but then I will convert it back to CSS so there will be a normal version too. I am currently experiencing issues with my GitHub accounts two factor authentication and my internet is currently down.

**Blog post**: http://joe.akeo.xyz/internet-down/

[2016-04-11 21:25] nloveladyallen commented on #3
So do I understand correctly this will be using the SASS/no bracket format and not the SCSS/bracket format?

[2016-04-11 21:29] joexn commented on #3
Yes. Or do you think I should use SCSS? Would this be easier for developers?

[2016-04-11 21:40] nishad commented on #3
@joexn, hope these articles could help you
1. https://css-tricks.com/sass-vs-less/
2. https://www.keycdn.com/blog/sass-vs-less/
3. http://code.tutsplus.com/tutorials/sass-vs-less-vs-stylus-preprocessor-shootout--net-24320
4. https://www.smashingmagazine.com/2011/09/an-introduction-to-less-and-comparison-to-sass/

[2016-04-11 21:45] nloveladyallen commented on #3
Here's a nice comparison of SASS and SCSS: http://thesassway.com/editorial/sass-vs-scss-which-syntax-is-better

[2016-04-11 21:53] joexn commented on #3
I have set a deadline for Legacy 2, it should be ready for a pre-release on May the 1st.

I am going to experiment with Sass and SCSS. I believe these are a better choice then Less.

Thank you for your help. I will keep updates on my blog and Twitter. https://twitter.com/joexn_

[2016-04-11 21:53] #3 closed, assigned to nobody

[2016-04-13 18:17] joexn opened #8 "Legacy 2 SASS Development"
I am going to keep this issue open and I will keep it updated with news on the SASS version during development.
I have had encouraging results with testing the SASS version so far, although there are a lot of issues I want to fix before the Legacy 2 release.
http://i.imgur.com/bywRreR.jpg

@nloveladyallen
@nishad

[2016-04-13 20:26] nloveladyallen commented on #8
Not to be accusatory, but why don't you just release it now with the note that it's not finished? That way other people can help with development and fixing bugs and issues.

[2016-04-13 20:29] nloveladyallen commented on #8
Never mind, just noticed you already did that. Sorry. 🙄

[2016-04-13 20:30] joexn commented on #8
I am. I'm just finishing it up now, then I'm going to push it to the dev branch.
Legacy 2 is going to contain an index file, templates, sass files, formatted and minified files. I want to make sure It is all ready before I push it to the dev branch.

I am going to be updating it in the next hour.

[2016-04-13 20:34] nloveladyallen commented on #8
OK, great. I thought the dev branch was Legacy 2 and deleted my first comment, now I realize I was wrong again.

[2016-04-13 20:37] joexn commented on #8
Oh! I created that branch earlier.
I am going to push an update to the readme.md file explaining what my plans are with the dev branch.

[2016-04-13 20:46] joexn commented on #8
The update has now been pushed to the '**dev**' branch.

[2016-04-13 21:38] nloveladyallen commented on #8
Just briefly looking at the code... It looks like you're using `/*` instead of `//` for single-line comments and not closing them with a `*/`, making everything past line 32 a comment.

Edit: Actually, it seems to be a GitHub code highlighting bug.

[2016-04-13 21:44] joexn commented on #8
Fixed: https://github.com/joexn/Legacy/blob/dev/legacy.sass#L34

[2016-04-16 12:38] joexn opened #9 "Google Analytics disabling navigation bar."
There is currently a bug in Dev Preview 3 that when Google Analytics code is placed inside the website, the navigation bar does not scale to small devices

[2016-04-16 12:43] #8 closed, assigned to nobody

[2016-04-16 12:44] #9 closed, assigned to joexn

[2016-04-18 20:08] joexn commented on #8
Update: Legacy 2 is out.

[2016-04-18 20:27] nloveladyallen opened #10 "Replace JavaScript menu system with pure CSS"
Similar to the CSS, it would be great to see a formatted, readable, commented JavaScript file in addition to the minified file.

I'm also curious to know what the JavaScript does: what justifies its inclusion in a self-proclaimed "lightweight, simple and modern UI framework"?

[2016-04-18 20:47] joexn commented on #10
The JavaScript file is necessary for the new navigation bar. Visit [here](https://legacy-framework.com/) and zoom in, you'll see the navigation bar scale on smaller displays.

Unfortunately, I didn't want to use JavaScript but it was necessary, I could not get the same result in CSS. I am working on this and hopefully in a future release this will be addressed.

[2016-04-18 21:11] nloveladyallen commented on #10
If JavaScript is absolutely necessary, can you at least drop the jQuery dependency? It's more than twice the file size of the two minified files put together.

[2016-04-18 21:16] joexn commented on #10
I will start work on this tomorrow and will probably be included in the Legacy 2.1 release.

[2016-04-23 13:04] nloveladyallen commented on #10
There's a menu system similar to yours, in pure CSS, here: http://kmturley.blogspot.com/2014/06/responsive-mobile-dropdown-navigation.html

I haven't inspected the code, but could this method be applicable to Legacy's menus?

[2016-04-23 17:13] joexn commented on #10
Thanks for this.
I am going to begin work on the new version of Legacy tomorrow. I will test out the navigation bar you've linked and if I like it, I'll release it as a sub-release (Legacy 2.1, for example.)

[2016-04-24 14:54] joexn commented on #10
The new navigation bar was implemented but it is nowhere near compatible with Legacy.

I am going to have to re-write it from scratch due to there being an overlay issue.

[2016-04-24 14:59] nloveladyallen commented on #10
Of course. I just brought up that link to show the menu system _could_ be done in CSS, not to suggest copy-pasting the specific implementation.

[2016-04-24 15:00] joexn commented on #10
I tried it out and everything fits nicely into Legacy*. There is only a few issues with z-index and overlay which should be fixed soon.

Apart from the padding *

[2016-04-30 17:01] joexn opened #12 "Legacy 3 Navbar Overlay Issue"
Recent implementation of a new navigation bar has been successful but there is a slight problem with overlaying different elements.

**_The link has been removed due to the dev preview has ended._**

[2016-04-30 17:02] #10 closed, assigned to nobody

[2016-04-30 17:17] joexn commented on #12
The Legacy 3 Early Development Preview Fixes Issue #10

cc @nloveladyallen for review

[2016-04-30 17:29] nloveladyallen commented on #12
No idea if this would mess anything else up, but you can just add `position: relative` and `top: 56px` to `body` and `top: 0` to `.navbar`.

[2016-04-30 17:35] joexn commented on #12
This has worked perfectly. Thanks!

[2016-04-30 17:35] #12 closed, assigned to nobody

[2016-04-30 17:40] nloveladyallen commented on #12
Looking at Legacy 3: are you writing it in pure CSS like Legacy 1? Or is it going to be in SASS like Legacy 2? I ask because there is no SASS file.

[2016-04-30 17:46] joexn commented on #12
It is being written in SASS. I only released a cut-down CSS because most of the classes are being re-written and I only needed to fix one issue.

When Legacy 3 is released it will be in this format:

[code]

[2016-04-30 17:48] nloveladyallen commented on #12
The issue is not fixed. You added the code to move everything down, but not to move the navbar up again.

[2016-04-30 17:55] nloveladyallen commented on #12
Why do you even include a minified file in the repo? It's like including a binary in the repo for a desktop app. Stick it in Releases, not in the repository itself.

[2016-04-30 17:59] joexn commented on #12
I'll do this in the future and the issue does not seem to be apparent here:

![capture](https://cloud.githubusercontent.com/assets/17342019/14937632/b38a1010-0f05-11e6-8c67-179f45a46b14.PNG)

[2016-04-30 18:01] joexn commented on #12
Same with mobile testing:

![capture2](https://cloud.githubusercontent.com/assets/17342019/14937638/f9ef5ec0-0f05-11e6-8743-7e2a8e162dfa.PNG)

[2016-04-30 18:07] nloveladyallen commented on #12
Oh, I'm using Firefox. I tried it in Chrome and it worked, so it's a browser thing.

[2016-04-30 18:08] joexn commented on #12
I see, I have pushed a commit to fix this. From now on I am going to start doing cross-browser checks.

[2016-04-30 18:13] joexn commented on #12
**Confirmed working in Firefox**

[2016-05-01 13:02] nloveladyallen opened #13 "Include build instructions"
Include instructions in the README for how to compile from SASS to formatted CSS, and how the minify the CSS. Something like this:

[2016-05-01 13:07] joexn commented on #13
Thanks for this. I am away for the bank holiday weekend so this won't be updated until Tuesday the 3rd.

[2016-05-02 18:14] #13 closed, assigned to nobody

[2016-05-05 15:27] joexn opened #14 "Navbar overlay issue"
There is a bug with the new pure css navigation bar set to be in Legacy 3. The issue is that it overlays anything else and isn't fixed.

The issue can be fixed by adding:

[code]

but if you don't use the navigation bar then this will push everything else down.
**Legacy 3 will not be released until this bug is fixed.**

[2016-05-08 16:31] nloveladyallen commented on #14
Have you made any changes since the latest version of legacy-dev.css on GitHub (ae30db7)? I've found a solution for that version. Unfortunately, it means the navbar is no longer fixed-position (it scrolls with the page). It's probably possible to fix the issue and keep it fixed, I just couldn't figure it out in the few minutes I spend in the devtools.
- The only property of `.navbar` should be `ba

[2016-05-08 17:00] joexn commented on #14
Testing this on an iPhone 5 (or any smaller display) when `position:absolute` is placed in the `.menu` class, it messes up the menu on smaller displays when its expanded.

See:
![screenshot](https://cloud.githubusercontent.com/assets/17342019/15099185/aec05066-1546-11e6-9461-e0e62daf677d.PNG)

[2016-05-08 17:35] joexn commented on #14
I've found a fix, testing this now.

[2016-05-08 17:35] nloveladyallen commented on #14
Add a media query to use `top:56px` on `.menu` for anything using the hamburger.

[2016-05-08 17:36] joexn commented on #14
The menu should fit the whole width of the screen.

[2016-05-08 17:40] joexn commented on #14
Fixed by adding

[code]

to a media query

[2016-05-08 17:40] #14 closed, assigned to joexn

[2016-05-13 14:00] joexn commented on #13
@nloveladyallen - how do you use `sass -t compressed legacy.sass legacy.min.css`?
It is just throwing back errors for me, Thanks.

[2016-05-13 15:25] nloveladyallen commented on #13
Looking at the documentation, it seems the official CLI is the version on RubyGems, not NPM. (I saw a 'sass' package on NPM and assumed it was the right one I already had installed.) Try uninstalling the version from NPM and installing the version from RubyGems and update the README (if it works).

[2016-05-17 07:00] alexdrans opened #15 "SASS CSS3"
Is this project planning on moving to the CSS3 version of SASS?

[2016-05-17 10:47] joexn commented on #15
It is running the latest version of SASS. I am not quite sure what you mean by that, please elaborate

[2016-05-17 10:54] joexn opened #16 "Support for SCSS"
In the Legacy 3 release, coming very soon, I am expanding support to include SCSS and LESS and further developing the SASS version to include width and page variables.

There will be a development preview of these features.

[2016-05-17 10:54] alexdrans commented on #15
The .sass file extension implies it is not, as the CSS3 version of sass uses the .scss file extension 😊

[2016-05-17 10:56] joexn commented on #15
Oh I see, In the next release, SCSS will be supported, see #16

[2016-05-17 11:06] alexdrans commented on #16
No pressure, but how soon is "very soon"? Nice project, I really appreciate your efforts! :100:  :+1:

[2016-05-17 11:07] joexn commented on #16
I am currently sitting my exams so development isn't going as quickly as i'd like but... Within the next few days..

[2016-05-17 11:08] alexdrans commented on #16
Good luck @joexn, and thanks!

[2016-05-17 11:08] alexdrans commented on #16
Please do let me know if I can help out

[2016-05-17 21:48] joexn commented on #16
Any help would be great. I have started a [blog](https://joexn.com/blog/) and you'll find development previews there. When I said it will be released in the next few days, I meant the development previews, these will contain nearly everything that will be in the final release, which I've set a deadline for the 28th of this month. Hopefully all the issues will be sorted out because Legacy 3 is goin

[2016-05-17 21:54] alexdrans commented on #16
Please do focus on your exams though. Legacy can wait.

[2016-05-18 16:38] joexn commented on #16
@alexdrans, the development previews are ready! check the blog post [here](http://joexn.com/blog/home/legacy-3-dev-preview-1).

[2016-05-21 14:23] nloveladyallen commented on #16
Do you need to provide SCSS and LESS versions? SCSS and LESS are fully backwards-compatible with CSS, so the CSS version is also an SCSS and LESS version.

[2016-05-21 14:25] joexn commented on #16
I have chose to not support LESS but SCSS will be, it's quite simple to covert it so it won't take that much effort.

[2016-05-26 11:29] joexn opened #17 "message box font colour"
When using

[code]

the class doesn't seem to contain a color attribute, as seen here.
![bug](https://cloud.githubusercontent.com/assets/17342019/15573223/48532920-233d-11e6-900c-1d35dab392fc.PNG)

There needs to be a `color: #FFF` [here](https://github.com/hannonberg/Legacy/blob/dev/legacy.sass#L669-L672).

This will be added in the next development preview.

[2016-05-26 12:27] joexn opened #18 "input button font issue"
In the latest development release of legacy (Dev Preview 1),

[code]

the font and text-transform is set incorrectly.

This will be fixed in the next dev release.

[2016-05-27 19:59] joexn opened #20 "hero font colour issue"
when the style `hero default` is being used, the font color is coming back as the same as the background color.

[code]

try this out by heading over to [here](https://joexn.com/StartProgramming/) and try changing the `hero` to default.

I've already found the problem and it will be fixed in the next release.

[2016-05-27 20:05] joexn opened #21 "Read this before reporting an issue!"
[Please read this quick blog post about opening issues](https://joexn.com/blog/posts/reporting-issues-with-legacy)

[2016-05-27 23:15] nloveladyallen commented on #21
In the README, you say:

But in the blog post, you say:

Can you clarify as to what is going on with future development?

[2016-05-27 23:22] joexn commented on #21
After the Legacy 3 release, there will be development previews but not on GitHub. There will be no more dev branch after the latest release.

So there will be,
Dev Preview 1.. testing out new features.
Dev Preview 2.. added support for the features.
That's it, then Release.

All downloads will only be on legacy-framework.com
All dev builds will be on joexn.com/blog
The master branch will contain u

[2016-05-27 23:26] joexn commented on #21
After the release which will be mid June I'm going to rewrite everything as my consistency is terrible.

[2016-06-03 07:20] guyspr commented on #21
What's the exact reason to not use github to host releases? Seems like a hassle to go to your site to download a new release.

_Ps. good luck with your exams!_

[2016-06-03 09:23] joexn commented on #21
@guyspronck, it's so I can use Google Analytics to better track the downloads of each version

[2016-06-03 09:56] nloveladyallen commented on #21
You can track the downloads on GitHub: https://help.github.com/articles/getting-the-download-count-for-your-releases/

[2016-06-03 10:02] joexn commented on #21
That is beyond me. I have got no idea where to start.

[2016-06-03 10:11] guyspr commented on #21
http://stackoverflow.com/questions/17971193/track-number-of-download-of-a-release-binaries-on-github

See this for basic instructions. It's basically an API which you can access and returns all sorts of information about your project.

[2016-06-03 11:38] nloveladyallen commented on #21
Nice web app: http://www.somsubhra.com/github-release-stats/?username=joexn&repository=Legacy

[2016-06-03 11:42] joexn commented on #21
Thanks for that. That makes it easier!

[2016-06-04 12:59] #20 closed, assigned to nobody

[2016-06-04 13:00] #18 closed, assigned to nobody

[2016-06-04 13:24] #17 closed, assigned to nobody

[2016-06-04 13:24] #16 closed, assigned to nobody

[2016-06-04 13:24] #21 closed, assigned to nobody

[2016-06-04 21:08] joexn opened #24 "hero font size is set to 50px"
the font size for the hero is set to 50px

[code]

this will be fixed soon.

[2016-06-04 21:14] #24 closed, assigned to nobody

[2016-06-06 17:08] joexn opened #25 "[Announcement] Legacy 3"
Hello!,

Legacy 3 was released today. There are some things I still want to do but my exams aren't over until June 27th. The wait was to long, so I decided to fix all the bugs and add some new features and here we are.. Legacy 3.0.

Legacy 3.1 is already in development and will add more small features and whatnot.

Until then, thanks for helping with Legacy.

Thanks,
Joe.

[2016-06-09 20:01] #25 closed, assigned to nobody

[2016-06-09 20:08] joexn opened #28 "No Navbar Button - Completely broken."
So I was looking through the navbar, seeing if I could fix some issues when I tested the navbar in Legacy 3.1 and nothing. No menu button, at all. So I went back to the dev preview and nope, not working there either. This is a major bug that I can't seem to get my head around. Any help will be amazing. I will focus more on this when I finish my exams (2 weeks!)

<br><br>

As you can see.. No navba

[2016-06-09 20:13] joexn commented on #28
**Update:** Every release was missing this code;

[code]

but the menu still won't show.. I'm working on it.

[2016-06-09 20:33] #28 closed, assigned to nobody

[2016-06-12 19:22] nloveladyallen opened #29 "Modal window issue"
In Firefox, the modal window appears for a split-second on initial page load before disappearing. In all other browsers, it is hidden immediately.

[2016-06-12 19:27] joexn commented on #29
I can confirm this is an issue in chrome too. I am only experiencing this on some pages though so something must be affecting it.

[2016-06-12 19:28] nloveladyallen commented on #29
Not seeing it in Chrome on the legacy-framework.com homepage.

[2016-06-12 19:30] joexn commented on #29
Neither can I but I believe on the Getting started page. I am not sure, I will test this in a bit.

[2016-06-14 11:28] joexn commented on #29
@nloveladyallen, I am unable to reproduce the issue in Firefox

[2016-06-14 18:55] nloveladyallen commented on #29
Still seeing in Firefox (47.0). Screen capture attached.
![2016-06-14_14-51-22](https://cloud.githubusercontent.com/assets/10617484/16055599/0318e0d6-3240-11e6-8df7-cb3fc0695ff7.gif)

[2016-06-14 18:58] joexn commented on #29
Oh that's very odd. I can also see inside the modal that the link is also blue.. This means that Legacy's styles are loading after the page has loaded. That's why it's showing the default styling. I will look in to this and see what I can find.

[2016-06-17 15:36] joexn commented on #29
Unfortunately I am still unable to reproduce this issue in **any** browser. This means I can't start debugging it until I can replicate what you've shown.

[2016-06-17 15:55] nloveladyallen commented on #29
Not seeing it when looking at a local download of the homepage. Probably just an issue of network latency. Nothing really to be done about that. (Except get a faster server... 😜)

[2016-06-22 16:08] joexn opened #31 "Re-writing the .btn classes"
Unfortunately at the moment, I do not have enough time to fully work on Legacy. I was hoping someone could help me simplify a piece of code.

All of [this](https://github.com/j0exn/Legacy-Framework/blob/latest/legacy.sass#L289-L503) code is to long, and some of it is repetitive.

Any help would be greatly appreciated!

[2016-06-22 18:42] #31 closed, assigned to nobody

[2016-06-23 15:45] joexn commented on #31
*\* This has been completed **

[2016-06-24 15:46] joexn commented on #29
@nloveladyallen, I am reopening this issue because I am currently alpha-testing Legacy 4 and on one of the HTML pages, I am seeing this issue.

I am running **chrome** and a **local version** of the stylesheet so this isn't anything to do with network latency.

[2016-06-26 20:13] joexn opened #32 "Tester Needed"
I am around half way through the development of Legacy 4 and there is an issue I need someone to debug. It has something to do with the framework and I can't seem to fix it.

Many thanks,
Joe.

[2016-06-27 02:51] nloveladyallen commented on #32
I might be able to help, but I can't make any promises.

[2016-06-27 06:37] joexn commented on #32
@nloveladyallen, Download the preview build here(_link removed_). It is currently using CSS only due to the new files not being completed yet.

As you'll see, there is an issue with the new input boxes and misalignment when using a `<center>` tag.

I'm sure it's an easy fix but I have an exam to go to in around an hour.

[2016-06-27 10:57] joexn commented on #32
This issue has been fixed.

[2016-06-27 10:57] #32 closed, assigned to nobody

[2016-06-29 20:09] joexn commented on #15
Hi @alexdrans, I am looking to support more than one css preprocessor in Legacy 4. You asked if the project will be moving to a CSS3 version of SASS (.scss) and I am going to start work on that as soon as the alpha has been completed.

All of my exams have been completed so I have a lot of free time so full time development on legacy is going to start again.

Although I am going to be developing L

[2016-07-01 15:06] joexn opened #33 "New look for cards (a new element?😉)"
I  am currently away from my PC so i cant work on Legacy. This issue is to remind me on what i need to work on when i get back.

Check milestones for info on Legacy releases.

[2016-07-02 11:18] joexn opened #34 "Legacy for Phones and Tablets"
Better phone and tablet support is coming in Legacy 4.

[2016-07-04 12:13] #33 closed, assigned to joexn

[2016-07-04 12:14] #34 closed, assigned to joexn

[2016-07-04 12:14] #15 closed, assigned to joexn

[2016-07-04 12:14] #29 closed, assigned to nobody

[2016-07-05 17:39] georgejenkins opened #35 "Use of Product Sans"
Google's Product Sans font isn't open source - see their [license.](https://www.google.com/fonts/license/productsans) Although it looks great, I would recommend swapping it out for a font like Open Sans or Roboto to maintain open source status.

[2016-07-05 17:43] joexn commented on #35
Oh! I did not know this. Thanks for the report. I'll fix this straight away.

[2016-07-05 17:48] alexdrans commented on #15
Hey,

Sorry, I missed this. What would the testing consist of? My time is tight, but I can use the framework in anger on a smaller client project. How's that?

Good work! 💯

[2016-07-05 17:52] joexn commented on #35
I can now confirm I've switched to Montserrat. This has been updated on the hosted version of Legacy too. Thanks for the report.

[2016-07-05 17:52] #35 closed, assigned to nobody

[2016-07-05 18:00] nloveladyallen opened #36 "Will Legacy ever be stable?"
The first release of Legacy, 1.9, was on April 9. Today, less than three months later, we're on Legacy 4.1, and plans for Legacy 5 have already been mentioned. Every major release so far has been a complete rewrite. Will Legacy ever become stable? It's hard to become invested in a project if it's being rewritten from the ground up literally every month.

[2016-07-05 18:07] joexn commented on #36
I am currently experimenting with different way's people can use Legacy and the way they can customise it. The only part of Legacy 4 that was rewritten was the .btn classes (this time I used more advanced SASS) and it dropped the line count down from around 200 to 47 and the input classes are still being worked on.

I am still testing to see what is the best way to do things. Legacy 5 won't be out

[2016-07-05 18:15] runofthemill commented on #36
@joexn take a look at [Semantic Versioning](http://semver.org/). Perhaps start using that on version 5, so the next release would be 5.0.1 or something close to that. Many large open source projects are using it, and it's a very good system if you stick to it.

[2016-07-05 18:15] nloveladyallen commented on #15
I know I've already said this in another thread, but I'd just like to point out again that SCSS is backwards-compatible to vanilla CSS. By having a vanilla CSS version, Legacy **already has an SCSS version.** Change the extension from .css to .scss and you can use Legacy in any SCSS-requiring web framework.

[2016-07-05 18:20] joexn commented on #36
I will defiantly do that. The issue is with the previous releases, all are unusable as they contain so many issues. I am not sure if I should make them development versions and start again on 1.0.0 as I don't think Legacy is stable enough to be considered a web framework. What do you think @runofthemill?

[2016-07-05 18:28] nloveladyallen commented on #36
OK, I was under the impression each major version so far had been a complete rewrite. In that case, I agree with Jeremy that Legacy 4.0 probably should have been 3.4, and 4.1 should have been 3.5.

I'm not really in favor of "rewriting history," so I'd say if you want to do this you should start over with a new name, new domain (:money_with_wings:), etc. On the other hand, changing names isn't rea

[2016-07-05 18:34] georgejenkins commented on #36
+1 for semantic versioning. I recommend rescinding version 4 for now - change it to 4.0rc1 until you work out the kinks. That way you aren't trashing the history and can continue with what you have.

[2016-07-05 18:42] georgejenkins commented on #36
Furthermore - consider a concrete definition of features in version 4 so the features remain consistent throughout the release. You can branch for version 5 and merge on with the master branch release. That way your development branch can worked on while v4 remains stable.

[2016-07-05 18:49] joexn commented on #36
@nloveladyallen @runofthemill @georgejenkins

**This is what will happen..**

The Legacy 4.0 release will be deleted and so will the Legacy 4.1 release. They just are not stable.
Themes and Templates will be taken off the website temporarily until a fully stable version is released.
The whole legacy-core.sass idea will be scraped. There will be one file which will serve as the only SASS file, this

[2016-07-05 19:12] joexn commented on #15
@nloveladyallen but what about variables?

[2016-07-05 19:19] nloveladyallen commented on #15
@joexn The only place variables matter is when you're working on development, and development would still be done in SASS.

[2016-07-05 19:20] joexn commented on #15
Oh okay, I see. Well in that case, this has been sorted then. Thank you

[2016-07-05 19:34] #36 closed, assigned to nobody

[2016-07-05 19:42] nloveladyallen commented on #36
When you reverted latest to 3.4 you didn't put the source back.

[2016-07-05 19:58] joexn commented on #36
What do you mean?

[2016-07-05 19:58] joexn commented on #36
Oh shit yeah, one minute!

[2016-07-06 08:52] alexdrans commented on #15
That's fine if you don't want to customise the framework for your own use, but if you do, SASS syntax makes that much easier.

[2016-07-12 13:52] joexn opened #38 "The blog is back"
Legacy 4 is now in full development and it's coming together quite nicely. If you are wondering where is the 'dev' branch. I cover that in a blog post at: https://blog.joexn.com/posts/removing-the-dev-branch

---

Check back at the blog for more updates on Legacy.

[2016-07-14 11:57] #38 closed, assigned to nobody

[2016-07-14 16:06] joexn opened #39 "development versions of legacy"
Want to test Legacy before anyone else? [Email me](mailto:hi@joexn.com) to request access to our slack. Beta releases are distributed there.

[2016-07-22 19:04] nloveladyallen commented on #39
Just something for the future: can you avoid editing an issue and completely changing the message? I get emails for every new issue, but I don't know when one's been edited, so I missed this.

[2016-07-22 19:07] joexn commented on #39
Sorry about that, I won't do this in the future. Please email me at (hi@joexn.com) so I can grab your email and invite you. The alpha of 4.0 hasn't been finished yet so no versions are available to test. They will be coming soon.

[2016-07-25 14:04] #39 closed, assigned to nobody

[2016-07-30 22:35] nloveladyallen opened #42 "Menu animation (4.0 beta)"
![legacy-menu-bug-ffmpeg](https://cloud.githubusercontent.com/assets/10617484/17273489/0fb3d4fa-5684-11e6-9855-0bcae7917b61.gif)

As you can see, the text is visible when the background is not for a short time during the animation.

This issue is present across all browsers.

[2016-07-30 22:40] joexn commented on #42
Thanks for reporting this, I'll look into it now.

[2016-07-30 23:10] joexn opened #43 "Menu font-size"
As seen here: the menu font size changes when menu is extended. I know what the issue is, I'll fix it tomorrow.

![giphy](https://cloud.githubusercontent.com/assets/17342019/17273610/313ac6ae-56b3-11e6-9eaf-61ac12e66741.gif)

[2016-07-31 10:26] joexn commented on #43
Confirmed fix in 7b8e9c1

[2016-07-31 10:26] #43 closed, assigned to nobody

[2016-07-31 10:32] joexn commented on #42
After messing with the height transition, it seems like the issue is with the text's visibility being shown 0.3s before the ul

**Working on this now**

![giphy 1](https://cloud.githubusercontent.com/assets/17342019/17275974/524d5442-5712-11e6-8503-2f1a712c940d.gif)

[2016-07-31 10:44] joexn commented on #42
Confirmed issue has been fixed in  c167dca
_This is a temp fix only - animation needs improvement_

[2016-07-31 10:44] #42 closed, assigned to nobody

[2016-07-31 13:25] nloveladyallen commented on #42
Since it still needs work, shouldn't the issue remain open?

[2016-07-31 15:16] joexn commented on #42
No because the issue that you stated has been fixed, I just need to create a fade-out type animation.

[2016-07-31 16:47] nloveladyallen opened #46 "Inputs don't look like inputs"
There's no way for a user to know without clicking that this is an input field.

<img width="399" alt="screen shot 2016-07-31 at 12 47 07 pm" src="https://cloud.githubusercontent.com/assets/10617484/17277929/e91b746c-571c-11e6-8f40-872f94cb9754.png">

[2016-07-31 16:56] joexn commented on #46
How about a label to the side of it?
<br><br>_Placeholder:_<br>
<img width="487" alt="screen shot 2016-07-31 at 17 54 22" src="https://cloud.githubusercontent.com/assets/17342019/17277976/e537fdea-5747-11e6-9581-b42e5ba5ff0b.png">
<br><br>_With Value:_<br>
<img width="531" alt="screen shot 2016-07-31 at 17 55 31" src="https://cloud.githubusercontent.com/assets/17342019/17277981/ffd7cee6-5747-11e6-

[2016-07-31 16:56] joexn commented on #46
+1 to you. Didn't even think about that.

[2016-07-31 17:01] nloveladyallen commented on #46
That looks better. The label next to it and the underline help. Might want to make the underline a bit thicker/darker for visibility (though in this case it seems clean design and visibility are at odds).

[2016-07-31 17:02] joexn commented on #46
Just working on this code now (as above pictures were renders)

[2016-07-31 17:09] joexn commented on #46
Done. The fix has been made in the latest commit:  263b91e
![inputs](https://cloud.githubusercontent.com/assets/17342019/17278026/b30b1daa-5749-11e6-9896-e629d34dced7.gif)

[2016-07-31 17:09] #46 closed, assigned to nobody

[2016-08-01 10:34] joexn opened #50 "Legacy Reset Issue"
For some reason, in the Legacy Reset `<sup>` is reset so it's basically useless.

[2016-08-01 10:35] joexn commented on #50
Confirmed fix in b328776

[2016-08-01 10:35] #50 closed, assigned to nobody

[2016-08-02 16:49] joexn opened #53 "Navbar dropdown not aligning."
<img width="504" alt="screen shot 2016-08-02 at 5 48 02 pm" src="https://cloud.githubusercontent.com/assets/17342019/17337141/5e45ca22-58d9-11e6-92ac-360f14742af2.png">

[2016-08-02 17:04] joexn commented on #53
<img width="1649" alt="screen shot 2016-08-02 at 6 04 27 pm" src="https://cloud.githubusercontent.com/assets/17342019/17337646/978aa8be-58db-11e6-8242-ba5f1b57d60a.png">

Honestly don't know what the issue is.

[2016-08-02 17:11] joexn commented on #53
Issue found - Working on fix now.

[2016-08-02 17:18] #53 closed, assigned to nobody

[2016-08-02 18:53] joexn opened #56 "Issue with page spacing."
<img width="300" alt="screen shot 2016-08-02 at 7 42 50 pm" src="https://cloud.githubusercontent.com/assets/17342019/17341051/bb419cb8-58ea-11e6-98f9-47e17520508c.png">

[2016-08-02 18:57] #56 closed, assigned to nobody

[2016-08-02 19:30] joexn opened #58 "Cross Browser Transitions Test Failed"
The transitions on different browsers have failed. This will take a few minutes to fix but is legacy-wide.

[2016-08-02 21:39] #58 closed, assigned to nobody

[2016-08-03 00:45] nloveladyallen opened #60 "Inputs other than text"
Support for non-text inputs needs to be significantly improved. All checkboxes are hidden by default, radio buttons take up 50% width, etc. That's not to mention they aren't styled at all.

[2016-08-03 09:24] joexn commented on #60
Status of Development;
- [x] Checkboxes
- [x] Radio Buttons
- [x] Labels
- [x] Navbar Issue
- [x] Width 90% Issue

[2016-08-03 10:55] joexn commented on #60
![new-inputs](https://cloud.githubusercontent.com/assets/17342019/17363229/0c94f2f0-5971-11e6-8fe4-175f2d222865.gif)

Coming in Legacy 4.0.1

[2016-08-03 10:55] #60 closed, assigned to nobody

[2016-08-03 13:20] nloveladyallen opened #61 "Close submenu on mobile"
There's no way to close a submenu on mobile:

![legacy-mobile-menu mov](https://cloud.githubusercontent.com/assets/10617484/17366861/693dcda8-595b-11e6-818c-57db0effd064.gif)

[2016-08-03 13:32] nloveladyallen opened #63 "legacy-framework.com has no menu on mobile"
It still uses the old Font Awesome classes, instead of the new CSS classes.
![screen shot 2016-08-03 at 9 31 40 am](https://cloud.githubusercontent.com/assets/10617484/17367208/1a283260-595d-11e6-87b6-fd97d6deec8a.png)

[2016-08-03 13:33] nloveladyallen opened #64 ".hidden-on-desktop not demoed in legacy-framework.com/docs"
![screen shot 2016-08-03 at 9 33 18 am](https://cloud.githubusercontent.com/assets/10617484/17367263/535cac46-595d-11e6-9904-6a3bb3c56731.png)

Should show both "This button will be hidden on tablets" and "This button will be hidden on desktops"

[2016-08-03 13:37] nloveladyallen opened #65 "Tables on mobile"
![screen shot 2016-08-03 at 9 35 16 am](https://cloud.githubusercontent.com/assets/10617484/17367352/a14d8560-595d-11e6-8c63-1fd5c1075c28.png)

Should probably scroll sideways instead of overflowing. (Subjective)

[2016-08-03 13:57] nloveladyallen opened #67 "Column separators on mobile"
These are unusably small:

![screen shot 2016-08-03 at 9 49 00 am](https://cloud.githubusercontent.com/assets/10617484/17367818/84b0afac-595f-11e6-901d-f340ca8a3906.png)

I suggest something like how Bootstrap does it (and I believe earlier versions of Legacy):

![screen shot 2016-08-03 at 9 56 20 am](https://cloud.githubusercontent.com/assets/10617484/17368071/9d910746-5960-11e6-89a5-e1f568404063

[2016-08-03 14:08] joexn commented on #63
Thanks for reporting this, will be fixed in a moment.

[2016-08-03 14:08] joexn commented on #67
I will work on these now and release it as Legacy 4.1

[2016-08-03 14:09] joexn commented on #61
Will look into this now, will take some time as another checkbox will need to be added. This will be released in a minor update.

[2016-08-03 14:10] joexn commented on #64
Working on it now.

[2016-08-03 14:16] #64 closed, assigned to nobody

[2016-08-03 14:16] #63 closed, assigned to nobody

[2016-08-03 15:12] joexn commented on #65
Working on this now. Searching for the issue.

[2016-08-03 15:59] joexn commented on #65
![aug-03-2016 16-58-21](https://cloud.githubusercontent.com/assets/17342019/17372386/909586da-599b-11e6-813f-ef8fb95e5cef.gif)

Fixed.

[2016-08-03 16:02] #65 closed, assigned to nobody

[2016-08-03 16:23] #67 closed, assigned to nobody

[2016-08-03 16:33] nloveladyallen commented on #60
Shouldn't it be 4.1? New features should come in a minor release, not a bugfix.

[2016-08-03 17:24] joexn commented on #60
Oh yes, sorry about that. I meant to say 4.1.

[2016-08-03 17:27] joexn commented on #61
This is proving to be difficult.

[2016-08-03 17:32] joexn commented on #61
I can't change this because it means desktop users will have to click the dropdown button to hide and show it which won't be a nice UX. Mobile users will only click on the dropdown if they need to access something in particular and if they do it by accident then they can close the dropdown by clicking anywhere that isn't the dropdown menu.

I am going to close this issue for now and maybe revisit

[2016-08-03 17:32] #61 closed, assigned to nobody

[2016-08-04 15:40] nloveladyallen opened #68 "Dropdown icon misaligned on Windows"
Here's the dropdown in Firefox on Windows:

![dropdown-misalign](https://cloud.githubusercontent.com/assets/10617484/17408020/8dea6dd2-5a37-11e6-9d9c-1ea0635e1484.png)

And for reference, Firefox on OS X:

<img width="650" alt="dropdown-align" src="https://cloud.githubusercontent.com/assets/10617484/17408038/9d471d66-5a37-11e6-9cfb-4c2bdb96ee01.png">

This is _not_ an issue with Helvetica Neue vs.

[2016-08-04 15:41] joexn commented on #68
Windows font rendering is really bad.

[2016-08-04 15:46] joexn commented on #68
This isn't a major issue at the time, I'll look into this when I've finished the current features and tested them.

[2016-08-11 15:23] #68 closed, assigned to nobody

[2016-08-11 15:38] joexn opened #72 "Legacy 4.2 is in development"
_This issue will remain open and contain information on the next planned release until it is released._

There are some issues with 4.1 that need to be fixed but this updated will be a _minor_ update as there are some changes to the core of the framework.

Please look out for issues with the [Legacy 4.1 tag](https://github.com/joexn/LegacyFramework/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3A%22L

[2016-08-11 15:45] joexn opened #73 "Input buttons have an outline when clicked"
<img width="865" alt="screen shot 2016-08-11 at 4 40 49 pm" src="https://cloud.githubusercontent.com/assets/17342019/17594787/68370f4a-5fe2-11e6-8c2a-8fdde35df1f2.png">

This is a minor issue as it only requires `outline: 0` to be added to to the end of [this](https://github.com/joexn/LegacyFramework/blob/dev/dist/legacy.css#L344) class.

[2016-08-11 15:48] joexn opened #74 "Navbar producing blank space between divs"
<img width="1024" alt="screen shot 2016-08-11 at 4 46 17 pm" src="https://cloud.githubusercontent.com/assets/17342019/17595011/455d4b46-5fe3-11e6-9b51-f2b132631542.png">

This issue is due to the `.nav` class being displayed as an `inline-block` which should be `block`.

[2016-08-11 15:49] #73 closed, assigned to nobody

[2016-08-11 15:49] #74 closed, assigned to nobody

[2016-08-12 08:43] joexn commented on #72
Legacy 4.2 new elements mockup.

<img width="629" alt="legacy 4 2" src="https://cloud.githubusercontent.com/assets/17342019/17617276/27c9afb4-6071-11e6-995c-c96438db1ff8.png">

[2016-08-12 09:40] joexn opened #75 "Input for passwords not styled"
Issue title explains all.

Requires `input[type=password]` be added to the end of line 1 in 'legacyforms.sass'.

[2016-08-12 09:41] #75 closed, assigned to nobody

[2016-10-28 21:13] ariane1001 commented on #72
Great work!
I have developed several sites with Skeleton and really liked it. It still works fine but if your framework is going to be updated, I would like that.
Good luck

[2016-10-28 23:57] nloveladyallen commented on #72
@ariane1001 I wouldn't hold my breath, last commit was in August. You can see the unfinished version of 4.2 if you're interested (it's on the dev branch), but development seems to have stopped.

[2016-10-29 00:02] joexn commented on #72
Development hasn't stopped. I've just got some major family issues at the moment and my main focus is on them. I am sorry for the interruption in development but the project isn't dead. 4.2 was nearly finished and I'll release the finished version when I'm in a place I can put my full focus on legacy.

[2017-01-29 12:09] #72 closed, assigned to nobody

[2017-01-29 17:49] rianby64 commented on #32
Excuse me for late joining to this conversation. I'd like to know how to test CSS code? Are you planning to write scripts that test this framework?

[2017-01-29 17:52] joexn commented on #32
Hi @rianby64,

Basically how it works is you will download a css file and a HTML5 test page with all elements of Legacy and test it on your own devices.

Betas are released through Slack as that is the best way to talk about the development versions. I have had some issues lately so there is no beta download area but that will be coming mid-february.

[2017-01-29 17:54] joexn commented on #32
We did use Gulp and that will be coming back very soon.

[2017-01-29 18:12] rianby64 commented on #32
Ok )))

[2017-03-12 13:39] joexn opened #76 "Legacy 4.3 and changes."
So, Legacy 4.3 is coming out on the 25th of April 2017 - but there are going to be some changes, firstly, the domain name is changing and that will be announced closer to the 4.3 release. The name is also changing from Legacy Framework to Legacy CSS due to some conflicting issues with something with a similar name. Over the next month these changes are going to be made and the transition will be s

[2017-04-02 17:15] #76 closed, assigned to nobody

[2017-04-30 20:30] hansvanmeteren opened #78 "push pull"
I would like to see a push / pull class like in Skeleton, really missing it (didn't use LegacyCSS yety so maybe I missed someting studying it) like LegacyCSS so far.

[2017-04-30 20:34] joexn commented on #78
Thanks for the input, I'll be looking in to this soon. Unfortunately to say I've been neglecting Legacy recently due to some issues in my life I've been working through. I am planning on working on Legacy full time so that should be happening pretty soon.

I've got an extensive list of things I want to do with Legacy and I'll be sure to add this to it.

I'll leave this open and keep you updated wi

[2017-04-30 21:01] hansvanmeteren commented on #78
Thanks Joe for your quick answer. I figured it out once more and _float left / float right_ will do I think.
I hope you will be able to solve the issues in your life the way it's best for you and eventually those who are involved also. And of course I hope you will soon be able to pick up LegacyCSS
All the best, take care Joe.
Hans, Nijmegen, The Netherlands

[2017-07-31 13:17] #78 closed, assigned to nobody

[2017-07-31 17:00] nloveladyallen opened #80 "Make all `code` monospace"
Currently only `code.pretty` is monospace, and plain `code` is in sans-serif. All `code` should be monospace. There is no context in which have `code` be proportional makes sense.

[2017-07-31 19:31] joexn commented on #80
I am going to fix this in a patch update which will probably be out tomorrow morning, I am experiencing issues with Dreamweaver at the moment as it is telling me that the code is misaligned which is rubbish but who knows. Might have to switch back to Atom.

[2020-04-26 22:09] shikkaba commented on #72
This is a very long temporary delay. Didn't want to start something new to point it out. :)

So, is it safe to say you're not working on this anymore at this point?

[2020-04-26 22:14] joexn commented on #72
@shikkaba — This project is still in a hiatus. I had planned to continue with development but my full time job is not allowing me to give Legacy the attention it deserves. This project is most certainly not dead, but at the current moment in time, I do not have a timescale for when a new version will be released yet.

When an update is announced, the naming and versioning will stay the same and I

[2020-04-29 04:11] shikkaba commented on #72
@joexn Thank you. :)